<link rel="stylesheet" href="/css/form.css">


<div id='timeLine'>
<% for (var i =1; i <=numTrue;  i++ ) { %>
        <div class="circle" id=`circle-<%=i%>`></div>
    <% } %>
</div>

<div id='box'>
    <form action="/users/update" method="POST">
<%keys.forEach((key,index)=>{%>
    <%if(key=='Past_Experience'){var newKey=key.split('_');var oldKey=newKey[0]+' '+newKey[1]}%>
    <%if(index==0){%>
        <div  class='con' id="divs">
    <%}else{%>
        <div class="setDisplayNone" id="divs">
    <%}%>
    <div class="header">
        <%if(key=='Past_Experience'){%>
            <h1><%=oldKey%></h1>
            <%}else{%>
        <h1><%=key%></h1>
        <%}%>
    </div>
    <div class="formDetail">
        <%if(key=='profile'){%>
            <form action="/image/upload" method="post" enctype="multipart/form-data">
                <label>Upload Profile Pic</label><br>
                <input type="file" name="avatar" />
                <button type="submit">Submit</button>
            </form>  
            <%}%>
            <%if(key!='education'){%>
        <textarea name=<%=key%> class='txtar'></textarea>
        <%}else{%>
            <label for="school">School</label>
            <input type="text" name="school" id=""><br>
            <label for="Sdate">Date</label><br>
            <input type="date" name="Sdate"><br>
            <label for="Edate">End Date</label><br>
            <input type="date" name="Edate"><br>
            <label for="foe">Field Of Study</label><br>
            <input type="text" name="foe">

            <%}%>
    </div>
    </div> 
    <%})%>
    <button type="submit" id="next" >Next</button>
    <button type="submit" id="sub" disabled>Submit</button> 
    <button type="submit" id="prev" disabled>Previous</button>
    </form>
    
   
</div>


<script src="/js/form.js"></script>
<script>
     new formCarousel(`<%=numTrue%>`);
</script>